@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=M+PLUS+1p:wght@500&family=Mukta&family=NTR&display=swap');
body {
    font-family: 'Baloo Tamma 2', cursive;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'NTR', sans-serif;
    font-size: 19px;
}

:root {
    --padding-screen: 10px 4vw;
    --padding-ptg: 0;
    --gtc-product-detailed: 1.4fr 1fr;
    --gtc-product-detailed-left: 0.1fr 1fr;
    --gtc-ptg: none;
    --gtr-product-detailed-left: none;
    --gtr-ptg: repeat(4, 1fr);
    --gap-product-detailed: 2vw;
    --gap-product-detailed-left: 1vw;
    --height-product-detailed-item: 40vw;
    --height-ptg: 50%;
    --display-product-thumb-gallery: grid;
}

.u-product--detailed {
    padding: var(--padding-screen);
    display: grid;
    grid-template-columns: var(--gtc-product-detailed);
    gap: var(--gap-product-detailed);
}

.u-product--detailed--left {
    width: 100%;
    height: var(--height-product-detailed-item);
    display: grid;
    grid-template-columns: var(--gtc-product-detailed-left);
    grid-template-rows: var(--gtr-product-detailed-left);
    gap: var(--gap-product-detailed-left);
}

.u-product__thumb-gallery {
    padding: var(--padding-ptg);
    width: 100%;
    height: var(--height-ptg);
    display: var(--display-product-thumb-gallery);
    grid-template-rows: var(--gtr-ptg);
    grid-template-columns: var(--gtc-ptg);
    gap: 0.5vw;
}

.u-gallery__item {
    border-radius: 5px;
}

.demo {
    opacity: 0.6;
}

.cursor {
    cursor: pointer;
}

.active,
.demo:hover {
    opacity: 1;
}

.u-product__img-display {
    border-radius: 5px;
}

.u-product--detailed--right>* {
    /*background-color: red;*/
    margin-bottom: 0.7vw;
}

.uline {
    width: 100%;
    height: 0.5px;
    background-color: #acacac;
}

.u-pdr__control-amount>input {
    text-align: center;
    width: 70px;
    height: 30px;
    border: none;
}

.u-pdr__control-amount button {
    width: 30px;
    height: 30px;
    background-color: #EFEFEF;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.u-pdr__heading,
.u-pdr__price {
    font-size: 20px;
    padding: 10px 5px;
    font-weight: bold;
}

.u-btns {
    width: 100%;
    display: flex;
}

.u-add-to-cart {
    background-color: pink;
    border: 1px solid red;
}

.u-buy-now {
    background-color: #FF0000;
    border: 1px solid pink;
}

.u-buy-now,
.u-add-to-cart {
    width: 230px;
    height: 50px;
    color: white;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    will-change: transform;
    display: inline-block;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.button-mat {
    color: white;
    border: 0px transparent;
    border-radius: 0.3rem;
    transition: 0.3s ease-in-out;
    transition-delay: 0.35s;
    overflow: hidden;
}

.button-mat:before {
    content: "";
    display: block;
    background: white;
    position: absolute;
    width: 200%;
    height: 500%;
    border-radius: 100%;
    transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
}

.button-mat:hover>.psuedo-text {
    color: pink;
}

.button-mat:hover {
    color: transparent;
}

.btn--5 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.btn--5:before {
    transform: translate(-120%, -50%) translateZ(0);
}

.btn--5:hover:before {
    transform: translate(-45%, -34%) translateZ(0);
}


/* Related Products */

.relatedProducts {
    width: 1270px;
    margin: 0 auto;
}

.headerRelatedProducts {
    text-align: center;
    padding: 20px 0;
}

.headerRelatedProducts h1 {
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 10px;
}

#relatedProducts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px 0;
}

@media screen and (max-width: 950px) {
     :root {
        --gtc-product-detailed: 1fr;
        --height-product-detailed-item: 80vw;
        --gtc-product-detailed-left: 1fr;
        --gtr-product-detailed-left: 0.15fr 1fr;
        --gtr-ptg: none;
        --gtc-ptg: repeat(4, 1fr);
        --padding-ptg: 0 23vw;
        --height-ptg: 100%;
        --padding-screen: 0 5vw;
    }
}